<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{ 'BLU_TEMPLATE_EDIT' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        {{ 'CLOSE' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <blu-template-form [templateId]="templateId"></blu-template-form>
 </ion-content>
 