<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isSearchBarOpened">{{ 'BLU_SENSORS' | translate}}</ion-title>
    <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (ionCancel)="isSearchBarOpened=false"
      (ionInput)="getItems($event)">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="goToBulkBeaconUploads()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" *ngIf="!isSearchBarOpened" (click)="isSearchBarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let beacon of filteredBeacons">
      <ion-item (click)="openDetails(beacon)">
        <ion-avatar slot="start">
          <img src="assets/img/thermometer.svg">
        </ion-avatar>
        <div>
          <h5 class="ion-text-wrap">{{beacon.name}}</h5>
          <ion-badge *ngIf="beacon.status === 'ACTIVE'" slot="end" class="status-font active-status">{{beacon.status}}
          </ion-badge>
          <ion-badge *ngIf="beacon.status === 'OUT_OF_RANGE'" slot="end" class="status-font out-of-range">
            {{beacon.status}}</ion-badge>
          <!-- <ion-badge *ngIf="beacon.status !== 'ACTIVE'"  slot="end"  class="status-font danger">{{beacon.status}}</ion-badge> -->
          <ion-badge *ngIf="beacon.status === 'OFFLINE'" slot="end" class="status-font offline-status">{{beacon.status}}
          </ion-badge>
          <ion-note class="ml-2" *ngIf="beacon.temperature !== null">{{beacon.temperature}} {{beacon.unitOfMeasurement}}
          </ion-note>
          <ion-note class="ml-2" *ngIf="beacon.temperature === null">N/A</ion-note>

          <div> {{beacon.deviceId | uppercase}} ({{beacon.firmwareVersion}}) </div>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <div style="display: flex;align-items: center;">
          <ion-button color="danger" (click)="deleteBeacon(beacon.deviceId)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>