<ion-list>
  <ion-item *ngFor="let item of list" (click)="onBeaconClick(item)">
    <ion-avatar  slot="start" >
      <div *ngIf="item.rssi <= 30" class="circle red beacon"><img src="assets/img/thermometer.svg"></div>
      <div *ngIf="item.rssi > 30 && item.rssi <= 60" class="circle yellow beacon"><img src="assets/img/thermometer.svg"></div>
      <div *ngIf="item.rssi > 60" class="circle green beacon"><img src="assets/img/thermometer.svg"></div>
    </ion-avatar>
    <h2>{{item.id}}   </h2>
    <div>
      <ion-note>{{item.address}}</ion-note>
    </div>
    <ion-note>{{item.rssi}}%</ion-note>
  </ion-item>
</ion-list>
