<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BLU_SENSORS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- Default Segment -->
  <ion-item [(ngModel)]="beacon" name="beacon" ngDefaultControl>
      <ion-label  position="floating">Name</ion-label>
      <ion-input [(ngModel)]='beacon.name'  (ionChange) ="setUpdate($event)" (keyup.enter)="submitBeaconDetailForm()"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label  position="floating">ID64</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.id64Hex'></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label  position="floating">Location Name</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.locationName'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Site ID</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.siteID'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Status</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.status'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Firmware Version</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.firmwareVersion'></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label  position="floating">Last Communication Date</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.lastCommunicationDate'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="floating">Temperature</ion-label>
      <ion-input readonly="true" [(ngModel)]='beacon.temperature'></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="submitBeaconDetailForm()" [disabled]="!update" >
        {{ 'SAVE' | translate}}
      </ion-button>
    </ion-item>
</ion-content>

