<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'BLU_TEMPLATES' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <template-list [templates]="templates" (templateSelected)="onTemplateSelected($event)">
  </template-list>
</ion-content>
