<ion-list>
  <ion-item *ngFor="let item of list" (click)="onBlufiClick(item)">
    <ion-avatar  slot="start" >
      <div *ngIf="item.rssi <= 30" class="circle red blufi "><img style="height:65px" src="assets/img/gateway_icon.svg"></div>
      <div *ngIf="item.rssi > 30 && item.rssi <= 60" class="circle yellow blufi "><img style="height:65px" src="assets/img/gateway_icon.svg"></div>
      <div *ngIf="item.rssi > 60" class="circle green blufi "><img style="height:65px" src="assets/img/gateway_icon.svg"></div>
    </ion-avatar>
    <h2>{{item.id}} </h2>
    <div>
      <ion-note>{{item.address}}</ion-note>
    </div>
    <ion-note>{{item.rssi}}%</ion-note>
  </ion-item>
</ion-list>
