<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>{{ 'BLU_ACCOUNT_SETTINGS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header style="border-top:none">
      {{ 'USERNAME' | translate}}
    </ion-list-header>
    <ion-item lines="none">
        <ion-label>{{userInfo?.username}}</ion-label>
    </ion-item>
    <!-- <ion-item lines="none">
        <ion-note>UserName</ion-note>
    </ion-item> -->

    <ion-item (click)="logoutClicked()" color="primary" style="text-align:center;">
      {{ 'LOGOUT' | translate}}
    </ion-item>

  </ion-list>

  <!-- <ion-list radio-group [(ngModel)]="selectedApi">
    <ion-list-header>
      Change Server
    </ion-list-header>

    <ion-item>
      <ion-label>Prod</ion-label>
      <ion-radio value="prod" (ionSelect)="setApiProd()"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Staging</ion-label>
      <ion-radio value="qa" (ionSelect)="setApiQa()"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Dev</ion-label>
      <ion-radio value="dev" (ionSelect)="setApiDev()"></ion-radio>
    </ion-item>
</ion-list> -->



  <!-- <ion-list>
    <ion-list-header>
      Projects
    </ion-list-header>
    <ion-item>
      <ion-label>Cuurent Project : </ion-label>
      <ion-label>Emerson Project</ion-label>
    </ion-item>

  </ion-list>
   -->
  <!-- <ion-list>
    <ion-list-header>
      Application Settings
    </ion-list-header>
    <ion-item>
      <button ion-button>Contact Support</button>
      <div>
        <button ion-button>Clear Cache</button>
      </div>
    </ion-item>
  </ion-list> -->



</ion-content>
