<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'BLU_SENSOR_INPUT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="beaconInputForm" (ngSubmit)="onProvisionClick()">

    <ion-item>
      <ion-label position="floating">{{ 'NAME' | translate }}</ion-label>
      <ion-input type="text"  formControlName="name"  [(ngModel)]="name"></ion-input>
    </ion-item>
    <div *ngIf="displayMessage.name" class="validation-error-msg">
      {{displayMessage.name}}
    </div>
    <ion-item>
      <ion-label position="floating">{{ 'BLU_NOTE' | translate }}</ion-label>
      <ion-input type="text" formControlName="note" [(ngModel)]="note"></ion-input>
    </ion-item>
    <div *ngIf="displayMessage.note" class="validation-error-msg">
      {{displayMessage.name}}
    </div>
    <div class="ion-padding">
      <ion-button color="primary" expand="block"  type="submit" [disabled]="!beaconInputForm.valid">{{ 'BLU_PROVISION' | translate }}</ion-button>
    </div>

  </form>

</ion-content>
