<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'BLU_SELECT_GATEWAY' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <blufi-list [list]="list" (blufiSelected)="onBlufiSelected($event)"></blufi-list>

</ion-content>
