<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'BLU_TEMPLATE_ADD' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" >
        {{ 'CLOSE' | translate}}
      </ion-button>
    </ion-buttons> 
   </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- <ion-list>
    <ion-list-header>Template Type</ion-list-header>
      <ion-select class="select-template" #C (ionChange)="templateType(C.value)">
        <ion-option value="gateway" checked="true">Gateway</ion-option>
        <ion-option value="beacon">Beacon</ion-option>
      </ion-select>
  </ion-list> -->
  <!-- <form [formGroup]="form" >-->
  <div *ngIf="selectedTemplateType=='gateway'">
    <blu-template-form [templateId]="0"></blu-template-form>
  </div>

  <div *ngIf="selectedTemplateType=='beacon'">
    <form *ngIf="selectedTemplateType=='beacon'">
      <h5>beacon template</h5>
      <!--<ion-list >
            <ion-item>
      
            </ion-item>
      
            <ion-item>
              <ion-label>two</ion-label>
              <ion-input ></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label>three</ion-label>
              <ion-select >
                <ion-option value="en" checked="true">English</ion-option>
                <ion-option value="es">Spanish</ion-option>
                <ion-option value="fr">French</ion-option>
              </ion-select>
            </ion-item>
      
            <button ion-item >
              Save
            </button>
          </ion-list>-->

    </form>

  </div>
</ion-content>

