<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'BLU_PROVISION_NEW' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">{{ 'CANCEL_BUTTON' | translate}}</span>
        <ion-icon style="font-size: 24px;" name="close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item (click)="onDeviceSelected(DeviceType.Blufi)">
      <h2>{{ 'BLU_GATEWAY' | translate}}</h2>
    </ion-item>
    <ion-item (click)="onDeviceSelected(DeviceType.Beacon)">
      <h2>{{ 'BLU_SENSOR' | translate}}</h2>
    </ion-item>
  </ion-list>
</ion-content>