<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons> 
    <ion-title>Search Device</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <p class="ion-margin">
    <ion-button expand="block" color="primary" (click)="startScanClickHandler()">Start Scan</ion-button>
    <!-- <button ion-button *ngIf="!showBLEScan" block color="primary" (click)="stopBLEScanClicked()">Stop Scan</button> -->
  </p>

  <!-- <calibration-mode  [devicePackat]="formData"></calibration-mode> -->

  <ion-list-header>
    <h5>Devices Nearby</h5>
  </ion-list-header>

  <!-- BLE scan results here:: -->
  <p class="ion-margin" *ngIf="searched && devices?.length === 0">
    No relevant devices found
  </p>
  <ion-list> 
    <ion-item  *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h5>{{ device?.advertising?.kCBAdvDataLocalName  || device?.name || 'unnamed' }}</h5>
      <p>{{ device?.id }}</p>
      <p>RSSI: {{ device?.rssi }}</p>
    </ion-item>
  </ion-list>

</ion-content>