<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'BLU_PROJECT_OVEERVIEW' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-item>
    <ion-label>{{ 'BLU_PROJECT' | translate}}</ion-label>
    <ion-select class="select-width" [(ngModel)]="selectedSiteId" (ionChange)="onProjectChange($event)">
      <ion-select-option *ngFor="let project of projects" value="{{project.siteId}}">{{project.name}}</ion-select-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-label>{{ 'BLU_PROJECT' | translate}}</ion-label>
    <ionic-selectable class="select-width"
      [(ngModel)]="project"
      [items]="projects"
      itemValueField="siteId"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="onProjectChange($event)">
    </ionic-selectable>
  </ion-item>

  <ion-card (click)="gotoBlufiListPage()">
    <ion-card-header>
      {{ 'BLU_GATEWAYS' | translate}}
    </ion-card-header>
    <ion-card-content>
      {{projectOverview?.totalActiveBGateways}}/{{projectOverview?.totalBGateways}}
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotoBeaconListPage()">
    <ion-card-header>
      {{ 'BLU_SENSORS' | translate}}
    </ion-card-header>
    <ion-card-content>
      {{projectOverview?.totalActiveBSensors}}/{{projectOverview?.totalBSensors}}
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotoAlertListPage()">
    <ion-card-header>
      {{ 'BLU_ALARMS' | translate}}
    </ion-card-header>
    <ion-card-content>
      {{projectOverview?.totalAlarmingBSensors}}
    </ion-card-content>
  </ion-card>

  <!-- <button ion-button color="primary" expand="block" (click)="openDeviceSelectionModal()" >
      {{ 'BLU_PROVISION' | translate}}
  </button> -->

</ion-content>
