<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BLU_GATEWAYS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [formGroup]="editForm">
  <!-- Default Segment -->
  <ion-item name="blufi">
    <ion-label position="floating">Name</ion-label>
    <ion-input formControlName="name" (ionChange)="setUpdate($event)" (keyup.enter)="submitblufiDetailForm()">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">SID64</ion-label>
    <ion-input readonly="true" formControlName='sid64'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">MacAddress</ion-label>
    <ion-input readonly="true" formControlName='macAddress'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Status</ion-label>
    <ion-input readonly="true" formControlName='status'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Firmware Version</ion-label>
    <ion-input readonly="true" formControlName='firmwareVersion'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Communication Date</ion-label>
    <ion-input readonly="true" formControlName='lastCommunicationDate'></ion-input>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-button expand="full" (click)="submitblufiDetailForm()" [disabled]="!update">
    {{ 'SAVE' | translate}}
  </ion-button>
</ion-content>