<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'SETTINGS' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="listtype=='gateways'"  (click)="addTemplate()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Default Segment -->
  <ion-segment [(ngModel)]="listtype">
    <ion-segment-button value="gateways">
      <ion-label class="settings-label">{{ 'BLU_GATEWAYS' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="beacons">
      <ion-label class="settings-label">{{ 'BLU_SENSORS' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="listtype=='gateways'" ngSelected="selected">
    <template-list [showEditBtn]="true" [showDeleteBtn]="true" [templates]="blufiTemplates" (templateListChanged)="getTemplates()">
    </template-list>
  </div>
  
  <div *ngIf="listtype=='beacons'">
    <template-list [templates]="beaconTemplates">
    </template-list>
  </div>

</ion-content>
