<ion-content class="em-brand-blue">
  <form [formGroup]="signupform">
    <img class="logo" src="../../assets/img/emersonLogo.svg">
    <ion-list>

      <ion-item>
        <ion-input type="email" [(ngModel)]="account.username" formControlName="username" name="username"
          inputmode="email" autocomplete="on" placeholder="{{ 'USERNAME' | translate }}"
          (keyup.enter)="password.setFocus()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input #password type="password" [(ngModel)]="account.password" formControlName="password" name="password"
          inputmode="password" autocomplete="on" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button class="m-1" color="primary" type="submit" expand="block" mode="md" (click)="doLogin()"
          [disabled]="!signupform.valid">
          {{ 'LOGIN' | translate }}</ion-button>
        <ion-button class="m-1" color="primary" expand="block" mode="md" (click)="guest()">{{ 'GUEST' | translate }}
        </ion-button>
      </div>

    </ion-list>
    <div class="bottom-logo">
      <img src="assets/img/cooper-atkins-grey-small.png">
    </div>
  </form>

  <br>
  <!-- # Start region : force crash manually -->
  <!-- <div class="text-center">
    CrashTEST:
  </div>
  <br>
  <ion-button (click)="crash()">Crash Your App</ion-button> -->
  <!-- # End region : force crash manually -->

</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-title size="small" slot="end">Ver {{ app_version }}</ion-title>
  </ion-toolbar>
</ion-footer>