
.logo {
    width:auto;
    height: 150px;
  }
  
  .login-container {
    margin: 0 auto;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
  
  form {
    margin: 0;
    text-align: center;
  }
  
  .list-ios > .item-block:first-child {
    border: 0 !important;
  }
  
  .bottom-logo {
    width: 100%;
    bottom: 13%;
    text-align: center;
    z-index: 9999;
  }
  