<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isSearchBarOpened">{{ 'BLU_GATEWAYS' | translate}}</ion-title>
    <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (ionCancel)="isSearchBarOpened=false"
      (ionInput)="getItems($event)">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" *ngIf="!isSearchBarOpened" (click)="isSearchBarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let blufi of filteredBlufi">
      <ion-item (click)="openDetails(blufi)">
        <ion-avatar slot="start">
          <img style="height:40px" src="assets/img/gateway_icon.svg">
        </ion-avatar>
        <div>
          <h6 class="ion-text-wrap ion-no-margin">{{blufi.name}} </h6>
          <ion-badge *ngIf="blufi.status === 'CONNECTED'" slot="end" class="status-font active-status">
            {{blufi.status}}</ion-badge>
          <ion-badge *ngIf="blufi.status !== 'CONNECTED'" slot="end" class="status-font out-of-range">
            {{blufi.status}}</ion-badge>
        <!-- </div>
        <div> -->
          <div> {{blufi.sid64}} </div>
          <div>{{blufi.macAddress|uppercase}} ({{blufi.firmwareVersion}}) </div>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="deleteBlufi(blufi.deviceId)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>