<ion-list>
  <ion-item *ngFor="let template of templates" (click)="onTemplateClick(template)">
    <h5>{{template?.name}}</h5>
    <ion-button fill="outline"  slot="end"  color="light" *ngIf="showEditBtn" (click)="editTemplateClicked(template?.templateId)">
      <ion-icon name="pencil-sharp" color="primary"></ion-icon>
    </ion-button>
    
    <ion-button fill="outline"  slot="end"  color="light" *ngIf="showDeleteBtn" (click)="deleteButtonClicked(template?.templateId)">
      <ion-icon name="trash-outline" color="danger"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>