<!-- Generated template for the BluEditComponent component -->
<form *ngIf="gatewayTemplateForm" [formGroup]="gatewayTemplateForm" (ngSubmit)="submitgatewayTemplateForm()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{ 'NAME' | translate}}</ion-label>
      <ion-input formControlName="name" name="name" (ionChange)="setUpdate($event)"></ion-input>
    </ion-item>
    <div *ngIf="displayMessage.name" class="validation-error-msg">
      {{displayMessage.name}}
    </div>
    <ion-item>
      <ion-label position="floating">{{ 'DESCRIPTION' | translate}}</ion-label>
      <ion-input formControlName="description" name="description" (ionChange)="setUpdate($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'BLU_TEMPLATE_SSID' | translate}}</ion-label>
      <ion-input formControlName="ssid" name="ssid" (ionChange)="setUpdate($event)"></ion-input>
    </ion-item>
    <div *ngIf="displayMessage.ssid" class="validation-error-msg">
      {{displayMessage.ssid}}
    </div>
    <ion-item>
      <ion-label position="floating">{{ 'BLU_TEMPLATE_SECURITY' | translate}}</ion-label>
      <ion-select formControlName="security" name="security" placeholder="Security"
        (ionChange)="onSecurityTypeChanged()">
        <ion-select-option value="OPEN">Open</ion-select-option>
        <ion-select-option value="WEP">WEP</ion-select-option>
        <ion-select-option value="WPA2">WPA/WPA2</ion-select-option>
        <!-- <ion-select-option value="Enterprise">Enterprise</ion-select-option> -->
      </ion-select>
    </ion-item>

    <ion-item *ngIf="gatewayTemplateForm.value.security!=='OPEN'">
      <ion-label position="floating">{{ 'BLU_TEMPLATE_PASSPHRASE' | translate}}</ion-label>
      <ion-input [type]="getType()" formControlName="passphrase" name="phrase" (ionChange)="setUpdate($event)">
      </ion-input>
      <ion-icon slot="end" *ngIf="getType()=='text'" class="show-pass" name="eye-outline"
        (click)="toggleTextPassword()"></ion-icon>
      <ion-icon slot="end" *ngIf="getType()=='password'" class="show-pass" (click)="toggleTextPassword()"
        name="eye-off-outline"></ion-icon>
    </ion-item>

    <!-- <ion-item *ngIf="gatewayTemplateForm.value.security!=='OPEN'">
      <ion-label *ngIf="getType()=='password'" (click)="toggleTextPassword()">Show Password</ion-label>
      <ion-label *ngIf="getType()=='text'" (click)="toggleTextPassword()">Hide Password</ion-label>
    </ion-item> -->

    <div *ngIf="displayMessage.passphrase" class="validation-error-msg">
      {{displayMessage.passphrase}}
    </div>
    <ion-button expand="full" type="submit" [disabled]="((!gatewayTemplateForm.valid) || (!update))">
      {{ 'SAVE' | translate}}
    </ion-button>
  </ion-list>

</form>