<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BLU_UPLOAD_TRANSMITTERS' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <p class="ion-margin">
    <ion-button expand="block" color="primary" (click)="startScanClicked()">{{ 'BLU_SCAN_QR_CODE' | translate}}
    </ion-button>
  </p>

  <ion-item lines="none">
    <h1>{{ 'BLU_SCANNED_TRANSMITTERS' | translate}}</h1>
    <ion-badge slot="end">{{beacons.length}}</ion-badge>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let beacon of beacons">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/thermometer.svg">
        </ion-avatar>
        <div>
          <h5 class="ion-text-wrap">{{beacon.text}}</h5>
          <div>{{beacon.id64}}</div>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <div style="display: flex;align-items: center;">
          <ion-button color="danger" (click)="deleteBeaconClicked(beacon)">
            <ion-icon name="ios-trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!-- <p margin>
    <button *ngIf="beacons && beacons.length > 0" ion-button expand="block" color="primary"
      (click)="uploadBeaconsClicked()">{{ 'BLU_UPLOAD' | translate}}</button>
  </p> -->

</ion-content>

<ion-footer no-shadow class="ion-padding ion-no-border ion-no-shadow">
  <ion-button *ngIf="beacons && beacons.length > 0" expand="block" color="primary" (click)="uploadBeaconsClicked()">
    {{ 'BLU_UPLOAD' | translate}}</ion-button>
</ion-footer>