/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.show-pass{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.status-font {
    font-size:10px;
  }

.offline-status {
  background-color: #9fa1a4;
}

.active-status {
  background-color: #1abb9c
}

.out-of-range {
  background-color: #d31245
}

.red {
  background: #d31245;
}

.green {
  background: #62bb46;
}

.yellow {
  background: #ffcf22;
}

.blufi {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 0px;
}

.beacon {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 10px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.validation-error-msg {
  color: #f53d3d;
  padding-left: 16px;
  text-align: left;
}

.alert-message {
  overflow: auto;
}