<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'BLU_ALARMS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let alert of alerts">
      <ion-avatar slot="start">
        <ion-icon style="font-size: 45px;color:#d31245" name="alert"></ion-icon>
      </ion-avatar>
      <h2 *ngIf="alert?.bSensorName">{{alert?.bSensorName}}</h2>
      <h2 *ngIf="alert?.bGatewayName">{{alert?.bGatewayName}}</h2>
      <h3>{{alert?.policyName}}</h3>
      <h3>{{alert?.value}}</h3>
      <ion-note>{{alert?.dateCreated}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>