<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'BLU_SELECT_SENSOR' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <beacon-list [list]="list" (beaconSelected)="onBeaconSelected($event)"></beacon-list>
</ion-content>
