<ion-content padding>

  <ion-list>

    <!-- Serial No -->
    <ion-item>
      <ion-label floating>Serial No : </ion-label>
      <ion-input [(ngModel)]="serialNo"></ion-input>
    </ion-item>

    <!-- Calibration Type -->
    <ion-item>
      <ion-label floating>Calibration Type</ion-label>
      <ion-select [(ngModel)]="calType">
        <ion-select-option value="*11">10K</ion-select-option>
        <ion-select-option value="*12">100K</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <form [formGroup]="calibrationForm">

    <ion-list *ngIf="is10CalType()">

      <ion-item>
        <ion-label floating>CH1 offset at 25<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch1Offset_10K" name="ch1Offset_10K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch1Offset_10K').valid && calibrationForm.get('ch1Offset_10K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch1Offset_10K').hasError('required')">CH1 offset is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH2 offset at 25<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch2Offset25_10K" name="ch2Offset25_10K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch2Offset25_10K').valid && calibrationForm.get('ch2Offset25_10K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch2Offset25_10K').hasError('required')">CH2 offset is required</p>
      </ion-item>

    </ion-list>

    <ion-list *ngIf="is100CalType()">

      <ion-item>
        <ion-label floating>CH1 offset at 25<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch1Offset25_100K" name="ch1Offset25_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch1Offset25_100K').valid && calibrationForm.get('ch1Offset25_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch1Offset25_100K').hasError('required')">CH1 offset at 25°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH1 offset at -40<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch1OffsetNeg40_100K" name="ch1OffsetNeg40_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch1OffsetNeg40_100K').valid && calibrationForm.get('ch1OffsetNeg40_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch1OffsetNeg40_100K').hasError('required')">CH1 offset at -40°F is required</p>
      </ion-item>
      
      <ion-item>
        <ion-label floating>CH1 offset at -20<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch1OffsetNeg20_100K" name="ch1OffsetNeg20_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch1OffsetNeg20_100K').valid && calibrationForm.get('ch1OffsetNeg20_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch1OffsetNeg20_100K').hasError('required')">CH1 offset at -20°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH1 offset at 0<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch1Offset0_100K" name="ch1Offset0_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch1Offset0_100K').valid && calibrationForm.get('ch1Offset0_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch1Offset0_100K').hasError('required')">CH1 offset at 0°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH1 offset at 60<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch1Offset60_100K" name="ch1Offset60_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch1Offset60_100K').valid && calibrationForm.get('ch1Offset60_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch1Offset60_100K').hasError('required')">CH1 offset at 60°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH2 offset at 25<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch2Offset25_100K" name="ch2Offset25_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch2Offset25_100K').valid && calibrationForm.get('ch2Offset25_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch2Offset25_100K').hasError('required')">CH2 offset at 25°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH2 offset at -40<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch2OffsetNeg40_100K" name="ch2OffsetNeg40_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch2OffsetNeg40_100K').valid && calibrationForm.get('ch2OffsetNeg40_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch2OffsetNeg40_100K').hasError('required')">CH2 offset at -40°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH2 offset at -20<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch2OffsetNeg20_100K" name="ch2OffsetNeg20_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch2OffsetNeg20_100K').valid && calibrationForm.get('ch2OffsetNeg20_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch2OffsetNeg20_100K').hasError('required')">CH2 offset at -20°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH2 offset at 0<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch2Offset0_100K" name="ch2Offset0_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch2Offset0_100K').valid && calibrationForm.get('ch2Offset0_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch2Offset0_100K').hasError('required')">CH2 offset at 0°F is required</p>
      </ion-item>

      <ion-item>
        <ion-label floating>CH2 offset at 60<span [innerHTML]="temperatureString"></span></ion-label>
        <ion-input formControlName="ch2Offset60_100K" name="ch2Offset60_100K"></ion-input>
      </ion-item>
      <ion-item *ngIf="!calibrationForm.get('ch2Offset60_100K').valid && calibrationForm.get('ch2Offset60_100K').dirty ">
        <p style="color:red" class="ion-text-wrap" *ngIf="calibrationForm.get('ch2Offset60_100K').hasError('required')">CH2 offset at 60°F is required</p>
      </ion-item>
    </ion-list>

  </form>

</ion-content>

<!-- <ion-item>Cal Type : {{calType}}</ion-item>
<ion-item *ngIf="is10CalType()">Ch1 10K @ 25 : {{ch1Offset_10K}}</ion-item> 
<ion-item *ngIf="is10CalType()">Ch2 10K @ 25 : {{ch2Offset25_10K}}</ion-item> 
<ion-item *ngIf="is100CalType()">Ch1 100K @ 25 : {{ch1Offset25_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch1 100K @ -40 : {{ch1OffsetNeg40_100K}}</ion-item> 
<ion-item *ngIf="is100CalType()">Ch1 100K @ -20 : {{ch1OffsetNeg20_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch1 100K @ 0 : {{ch1Offset0_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch1 100K @ 60 : {{ch1Offset60_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch2 100K @ 25 : {{ch2Offset25_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch2 100K @ -40 : {{ch2OffsetNeg40_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch2 100K @ -20 : {{ch2OffsetNeg20_100K}}</ion-item>
<ion-item *ngIf="is100CalType()"> Ch2 100K @ 0 : {{ch2Offset0_100K}}</ion-item>
<ion-item *ngIf="is100CalType()">Ch2 100K @ 60 : {{ch2Offset60_100K}}</ion-item> -->